body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("https://wallpaperaccess.com/full/1564422.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.calculator {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
}

.display {
    background-color: #333;
    color: #fff;
    font-size: 2rem;
    padding: 20px;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.btn {
    border: 1px solid #ddd;
    font-size: 1.5rem;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.btn:hover {
    background-color: #f0f0f0;
}

.clear {
    grid-column: span 4;
    background-color: #e74c3c;
    color: #fff;
}
